html, body {
    width: 1450px;
    height: 1055px;
    margin: 0px;
    padding: 0px;
  }
.smile {
    background-image: url(./images/Object.png);
    background-size: cover;
    height: 1055px;
    flex-shrink: 0;
    padding: 0px;
    background-repeat: no-repeat;
}
/* Header */
.header {
    background-color: none;
    padding: 60px;
    margin-top: 0px;
    align-items: center;
  }
  
  .logo {
    width: 167.016px;
    height: 29.461px;
    flex-shrink: 0;
    margin-left: 175px;
    padding: 10px;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: inline-flex;
    height: 15px;
    float: right;
    gap: 0px;
    flex-shrink: 0;
    margin-right: 20px;
  }
  
  .nav-item {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .nav-item a:hover {
    background-color: rgb(43, 42, 42);
  }

  /*get schooled*/
  .schooled {
      padding: 20px;
      
      margin-top: 105px;
      align-items: center;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      
  }
  h1 a {
    color:#FFF;
    text-decoration: none;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .schooled .menu a {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin: 30px;
    margin-left: 20px;
  }

  .menu h5 {
    margin-left: 10px;
    float:inline-end;
  }
 
 .schooled .button {
  color: #FFF;
  background-color: #C271FF;
  border-radius: 20px;
  cursor: pointer;
  width: 162px;
  height: 44px;
  flex-shrink: 0;
  margin: 60px;
  border-color: none;
 }

 .schooled .button:hover {
  background-color: #40046d;
 }

 .main {
  text-align: center;
  
}

.main h2 a {
  text-decoration: none;
  color:#FFF;
}

.main .pro {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.main .pro .IMAGE {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
.main .pro .title {
  color: #FFF;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 27px;
}

.main .pro .SUB-TITLE {
  width: 150px;
  color: #FFF;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
}
.smile, .testimonials {
  border: none;
}

.testimonials {
  width: 1450px;
  height: 400px;
  flex-shrink: 0;
  background-color: #C271FF;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.testimonials .testimony p {
  flex-direction: column;
}

.testimonials img {
  float: left;
  margin-left: 140px;
}
.testimonials .testimony1, .testimony2, .testimony3 {
  text-align: left;
  padding: 0;
} 

.testimonials .testimony1 {
  width: 730px;
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
}

.testimonials .testimony2 {
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px;
}
.testimonials .testimony3 {
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 33.6px;
}

.tutorials {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  text-align: center;
  flex-direction: column;
}
.tutorials .main4 {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.tutorials h2 a {
  color: #071629;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal; 
  text-decoration: none;
}
span {
  color: #C271FF;
  font-family: Source Sans Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.tutorials .main4 nav {
  width: 255px;
  height: 335px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(7, 22, 41, 0.18);
}

.tutorials .main4 nav p.name {
  color: #071629;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tutorials .main4 nav p.discription {
  width: 242px;
  color: rgba(7, 22, 41, 0.50);
  font-family: Source Sans Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.tutorials .main4 nav img.reviewer {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  float: left;
  margin: 0px;
  padding: 20px;
}

.tutorials .main4 nav p.reviewername{
  color: #C271FF;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  margin: 10px;
  text-align: left;
}

.tutorials .main4 nav img.rate{
  width: 107px;
  height: 15px;
  flex-shrink: 0;
  margin-right: 75px;
  padding: 0px;
}